<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlinsk.ansure.mapper.ChatSessionMapper">

    <resultMap id="BaseResultMap" type="com.wlinsk.ansure.model.entity.ChatSession">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sessionId" column="session_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="creater" column="creater" jdbcType="VARCHAR"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,session_id,user_id,
        title,create_time,update_time,
        creater,updater
    </sql>
    <insert id="save">
        insert into tb_chat_session (session_id,user_id,
                                  title,create_time,update_time,
                                  creater,updater)
        values
            (
             #{entity.sessionId,jdbcType=VARCHAR},
             #{entity.userId,jdbcType=VARCHAR},
             #{entity.title,jdbcType=VARCHAR},
             now(),now(),
             #{entity.creater,jdbcType=VARCHAR},
             #{entity.updater,jdbcType=VARCHAR}
            )
    </insert>
    <update id="updateTitle">
        update tb_chat_session
        set update_time = now(),title = #{question,jdbcType=VARCHAR}
        where session_id = #{sessionId,jdbcType=VARCHAR}
    </update>
    <update id="updateTime">
        update tb_chat_session
        set update_time = now(),create_time = now()
        where session_id = #{sessionId,jdbcType=VARCHAR}
    </update>
    <select id="queryTitleRecords" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_chat_session
        where user_id = #{userId,jdbcType=VARCHAR}
        order by update_time desc
    </select>
    <select id="queryBySessionId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_chat_session
        where session_id = #{sessionId,jdbcType=VARCHAR}
    </select>
</mapper>
