<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlinsk.ansure.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.wlinsk.ansure.model.entity.Question">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="questionId" column="question_id" jdbcType="VARCHAR"/>
            <result property="questionContent" column="question_content" jdbcType="VARCHAR"
                    typeHandler="com.wlinsk.ansure.basic.handler.ListToJsonHandler" javaType="java.util.List"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="delState" column="del_state" jdbcType="INTEGER"
                    javaType="com.wlinsk.ansure.basic.enums.DelStateEnum"
                    typeHandler="com.wlinsk.ansure.basic.handler.UniversalEnumHandler"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,question_id,question_content,
        app_id,user_id,create_time,
        update_time,version,del_state
    </sql>
    <update id="updateQuestion">
        update tb_question
        set question_content = #{question.questionContent,jdbcType=VARCHAR,
        typeHandler=com.wlinsk.ansure.basic.handler.ListToJsonHandler,javaType=java.util.List},
        version = #{question.version,jdbcType=INTEGER} + 1,
        update_time = #{question.updateTime,jdbcType=TIMESTAMP}
        where question_id = #{question.questionId,jdbcType=VARCHAR} and del_state = 10
    </update>
    <select id="queryPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_question
        where del_state = 10 and app_id = #{appId,jdbcType=VARCHAR}
        group by question_id
        order by create_time desc
    </select>
    <select id="queryById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_question
        where del_state = 10 and question_id = #{questionId,jdbcType=VARCHAR}
    </select>
    <select id="queryByAppId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_question
        where del_state = 10 and app_id = #{appId,jdbcType=VARCHAR}
        group by app_id
    </select>
    <select id="queryLatestQuestionContentByAppId" resultMap="BaseResultMap">
        select question_content from tb_question
        where del_state = 10 and app_id = #{appId,jdbcType=VARCHAR}
        group by question_id
        order by create_time desc
        limit 1
    </select>

</mapper>
